<div class="row align-items-center justify-content-center" style="margin-top: 100px;">
    <div class="card w-50 border-success" >
        <div class="card-header text-center bg-transparent border-success">
          CAMBIO DE MONEDA
        </div>
        <div class="card-body ">
            
            <form class="row gx-3 gy-2 align-items-center" [formGroup]="form" #frm="ngForm">
                
                <div class="col-sm-6">
                    <span>De:</span>
                  <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                  <select class="form-select" id="specificSizeSelect" formControlName="monedaOrigen" (change)="onChangeMontoOrige()">
                    <option value="0"> --- Seleccione Moneda --- </option>
                    <option [ngValue]="item" *ngFor="let item of listaMonedasOrigen"> {{item}}</option>
                  </select>
                </div>

                <div class="col-sm-6">
                    <span>A:</span>
                    <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                    <select class="form-select" id="specificSizeSelect" formControlName="monedaDestino" (change)="onChangeMontoDestino()">
                      <option value="0"> --- Seleccione Moneda --- </option>
                      <option [ngValue]="item" *ngFor="let item of listaMonedasDestino"> {{item}}</option>
                    </select>
                </div>

                <div class="row mb-3 mt-3" >
                    <label for="colFormLabel" class="col-sm-3 col-form-label">Monto:</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="colFormLabel" placeholder="Ingrese el monto" formControlName="monto">
                    </div>
                  </div>  
              </form>

              <div class="d-grid gap-2 col-5 mx-auto">
                <button type="button" class="btn btn-outline-success" (click)="convertir()" [disabled]="frm.invalid">Procesar</button>
              </div>      
      </div>
      <div class="card-footer text-center bg-transparent border-success">
          <div class="mt-4 mb-4">
            {{resultado}}
          </div>
      </div>
    </div>

      <div class="row mt-5">
        <div class="col text-center">
          <button type="button" class="btn btn-danger" (click)="salir()">Salir</button>
        </div>
      </div>     
</div>


    
