<div class="row align-items-center justify-content-center" style="margin-top: 100px;">
    
<div class="card w-50 border-primary" >
    <div class="card-header text-center bg-transparent border-primary">
      LOGIN
    </div>
    <div class="card-body ">
        <form [formGroup]="form" #frm="ngForm">
        <div class="mb-3">
            <label for="usuario" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="usuario" placeholder="Usuario" formControlName="usuario">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Constraseña" formControlName="clave">
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" (click)="ingresar()" [disabled]="frm.invalid" class="btn btn-outline-primary">INGRESAR</button>
          </div>
        </form>
  </div>
</div>